body{
    font-family: Arial, Helvetica, sans-serif;
}
.der{
    text-align: right;

    }
    .ln{
        margin: 0.5rem;
        
        text-decoration: none;
        color: black;
    }
 .imu{
    width: 40px;
    height: 40px;
    border-radius: 3rem;
    margin-left: 0.5rem;
    vertical-align: middle;
   
 }

.centro{
    text-align: center;
    
}
.im{
 width: 250px;
}
.in{
    margin-top: 3rem;
    height: 40px;
    width: 550px;
    border-radius: 2rem;
    border-color: gray;
    border: 0.2rem;

    
}
.in:hover{
    box-shadow: 3px 3px 3px lightgrey  ;
}
.centrobajo{
    margin: 3rem;
    text-align: center;
}   

.bt{
    margin: 0.5rem;
    color: rgb(0, 0, 0);
    height: 30px;
    border: none;
    
}

.bt:hover{
    border: solid 1px black ;
    
}

.danteultimo{
    text-align: left;
    background-color: rgb(250, 247, 247);
    margin-top: 33rem;
    height: 50px;
    vertical-align: middle;
    
    
    color: gray;
}
.ultimodi{
    
    background-color: rgb(250, 247, 247);
    border: solid white; 
    
    

}

    
    



.lnfr{
    margin-right: 3px;
    color: black;
    text-decoration: none;
    text-align: right;
}
.lnfl{
    margin-right: 3px;
    color: black;
    text-decoration: none;
    
    text-align: left;
    
}

